<!DOCTYPE html>
<html>
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1>Anadir Usuario</h1>


	<div id="inputUsuario">
		<form th:action="@{/anadirAdmin}" th:object="${usuario}" method="post">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="nombre">Nombre</label> <input type="text" name="nombre"
						id="nombre">
				</div>
				<div class="form-group col-md-6">
					<label for="apellido">Apellidos</label> <input type="text"
						name="apellido" id="apellido">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="nick">Nick</label> <input type="text" name="nick"
						id="nick">
				</div>
				<!-- div class="form-group col-md-6">
					<label for="sexo">Sexo</label> <select th:field="*{sexo}">
						<option th:value="'M'" th:text="Male"></option>
						<option th:value="'F'" th:text="Female"></option>
					</select>
				</div>-->
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="sexo">Sexo</label> <input type="text" name="sexo"
							id="sexo">
					</div>

				</div>

				<div class="form-row">

					<div class="form-group col-md-6">
						<label for="email">Email</label> <input type="email" name="email"
							id="email">
					</div>
					<div class="form-group col-md-6">
						<label for="edad">Edad</label> <input type="text" name="edad"
							id="edad">
					</div>
				</div>
				<div class="form-group">
					<label for="banco">Numero Bancario</label> <input type="text"
						name="banco" id="banco">
				</div>

				<input type="submit" class="btn btn-success w-100" value="Añadir">
		</form>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>