<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<h1 th:text="${titulo}"></h1>
	
	<div th:if="${usuarios.size() == 0}">¡no hay usuarios registrados en la lista!</div>
	
<div class="container">
	<table id="tablauser" class="display" style="width: 100%" align="center">
	<thead>
				<tr>
					<th scope="col">id</th>
					<th scope="col">Nombre</th>
					<th scope="col">Apellido</th>
					<th scope="col">nick</th>
					<th scope="col">genero</th>
					<th scope="col">correo</th>
					<th scope="col">edad</th>
					<th scope="col">Cuenta bancaria</th>
					<th scope="col">peliculas alquiladas</th>
					
				</tr>
			</thead>
		
	
	</table>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>