<!DOCTYPE html>
<html>
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<h1 th:text="${titulo}"></h1>

	<div th:if="${usuarios.size() == 0}">¡no hay usuarios registrados
		en la lista!</div>


	<table border=1 th:if="${usuarios.size()>0}">
		<thead>
			<tr>
				<th>id</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>genero</th>
				<th>correo</th>
				<th>edad</th>
				<th>Cuenta bancaria</th>
				<th>peliculas alquiladas</th>

			</tr>
		</thead>


		<tbody>
			<tr th:each="usuario: ${usuarios}">

				<form th:action="@{/mandarListarAdmin}" th:object="${usuario}"
					 method="post">
				<td th:text="${usuario.id}" name="id" id="id">
				<td th:text="${usuario.nombre}"name="nombre" id="nombre">
				<td th:text="${usuario.apellido}"name="apellido" id="apellido">
				<td th:text="${usuario.sexo}"name="sexo" id="sexo">
				<td th:text="${usuario.email}"name="email" id="email">
				<td th:text="${usuario.edad}"name="edad" id="edad">
				<td th:text="${usuario.banco}"name="banco" id="banco">
				<td th:text="${usuario.pelis}"name="pelis" id="pelis">
				
				<input type="text" th:value="${usuario}">
				
				<td><input name= "borrar" type="submit" value="Borrar"></td>

				<td><input  name="actualizar" type="submit" value="Actualizar"></td>
				</form>
			</tr>

		</tbody>


	</table>

	<br>
	<a href="/anadirAdmin"><input type="button" value="Anadir"></a>
	
	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>