<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>

	<div th:if="${usuarios.size() == 0}">¡no hay usuarios registrados
		en la lista!</div>


	<table border=1 th:if="${usuarios.size()>0}">
		<thead>
			<tr>
				<th>id</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>genero</th>
				<th>correo</th>
				<th>edad</th>
				<th>Cuenta bancaria</th>
				<th>peliculas alquiladas</th>
				
			</tr>
		</thead>


		<tbody>
			<tr th:each="usuario: ${usuarios}">
			<form th:action="@{/listarAdmin}" th:object="${usuario}"
		method="post">
				<td th:text="${usuario.id}">
				<td th:text="${usuario.nombre}">
				<td th:text="${usuario.apellido}">
				<td th:text="${usuario.sexo}">
				<td th:text="${usuario.email}">
				<td th:text="${usuario.edad}">
				<td th:text="${usuario.banco}">
				<td th:text="${usuario.pelis}">
				<td><input type="submit" value="Borrar" ></td>
				</form>
			</tr>

		</tbody>


	</table>

	<br>
	<form th:action="@{/actualizarListarAdmin}" th:object="${usuario}"
		method="post">

		<div>
			<label for="id">Id</label> <input type="text" name="id" id="id"
				value="${usuario.id}">

		</div>
		<div>
			<label for="nombre">Nombre</label> <input type="text" name="nombre"
				id="nombre">

		</div>
		<div>
			<label for="apellido">Apellidos</label> <input type="text"
				name="apellido" id="apellido">

		</div>
		<div>
			<label for="nick">Nick</label> <input type="text" name="nick"
				id="nick">

		</div>
		<div>
			<label for="sexo">Sexo</label> <input type="text" name="sexo"
				id="sexo">

		</div>
		<div>
			<label for="email">Email</label> <input type="email" name="email"
				id="email">

		</div>
		<div>
			<label for="edad">Edad</label> <input type="text" name="edad"
				id="edad">

		</div>
		<div>
			<label for="banco">Numero Bancario</label> <input type="text"
				name="banco" id="banco">

		</div>

		<div>
			<div>
				<input type="submit" value="Enviar">
			</div>
		</div>
	</form>
</body>
</html>