<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>

	<div th:if="${usuarios.size() == 0}">¡no hay usuarios registrados
		en la lista!</div>


	<table border=1 th:if="${usuarios.size()>0}">
		<thead>
			<tr>
				<th>id</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>genero</th>
				<th>correo</th>
				<th>edad</th>
				<th>Cuenta bancaria</th>
				<th>peliculas alquiladas</th>

			</tr>
		</thead>


		<tbody>
			<tr th:each="usuario: ${usuarios}">
				<form th:action="@{/listarAdmin}" th:object="${usuario}"
					method="post">
				<td th:text="${usuario.id}">
				<td th:text="${usuario.nombre}">
				<td th:text="${usuario.apellido}">
				<td th:text="${usuario.sexo}">
				<td th:text="${usuario.email}">
				<td th:text="${usuario.edad}">
				<td th:text="${usuario.banco}">
				<td th:text="${usuario.pelis}">
				<td><input type="submit" value="Borrar"></td>
				<td><input type="submit" value="Actualizar"></td>
				</form>
			</tr>

		</tbody>


	</table>

	<br>
	<form action="@{/anadirAdmin}">
	<input type="submit" value = "Anadir">
	</form>
	
</body>
</html>