<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet" type="text/css" th:href="@{/css/resultado.css}"></link>
</head>
<body>
    <h3 th:text="${titulo}"></h3>
 
   <ul>
        <li th:text="${usuario.nombre}"></li>
        <li th:text="${usuario.apellido}"></li>
    </ul>
    
        <div>
			<label for="nombre">Nombre</label> <input type="text" name="nombre"
				id="nombre"  th:value="${usuario.nombre}" >

		</div>
		<div>
			<label for="apellido">Apellidos</label> <input type="text"
				name="apellido" id="apellido" th:value="${usuario.apellido}">

		</div>

</body>
</html>